

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: white;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:500px;
    width: 640px;
    margin:0px;
    padding:0px;
    width:100px;
    background-color: #6e4545;
}


.app {
    position:absolute;
    height:50px;
    text-align:center;
    margin-top: 30px;
}

.h1 {
    font-size: 20px;
    margin:0px;
    padding:0px;
    width: 320px;
    background-color: #b30000;
    text-align: left;
    height: 25px;
}


.news{
    border: solid 1px red;
    height: 150px;
    width: 170px;
    text-align: center;
    margin:  auto;
    position: relative;
}

.weather{
    border: solid 1px green;
    height: 100px;
    width: 150px;
    text-align: center;
    margin:  auto;
    position: relative;
}

p{
    margin-bottom: 0;
}

.p{
    font-size: 15px;
    border-bottom: 3px #b30000 solid;
    margin-bottom: 10px;
    position: relative;
    width: 73px;
    left: 121px;
}



